@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap');

*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

body{
    
}

.anime{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 100vh;
    transition: 0.5s ease all;
}

.anime > p {
    font-size: 2em;
    font-weight: bold;
}

.anime:nth-child(1){
    background-color: rgb(241, 181, 181);
}

.anime:nth-child(2){
    background-color: rgb(111, 170, 247);
}

.anime:nth-child(3){
    background-color: rgb(166, 223, 149);
}

.button-right{ 
    position: absolute;
    top: 53%;
    left: 30%;
    padding: 1em;
    border: 1px solid gray;
    border-radius: 1em;
    cursor: pointer;
}
.button-left{ 
    position: absolute;
    top: 49%;
    left: 27.4%;
    padding: 1em;
    border: 1px solid gray;
    border-radius: 1em;
    cursor: pointer;
}

img{
    position: absolute;
    height: 100vh;
    z-index: -1;
    transition: 0.5s ease all;
}

img:nth-child(1){
    top: 0;
    right: 0;
}
img:nth-child(2){
    top: -100%;
    right: 0;
}
img:nth-child(3){
    top: -200%;
    right: 0;
}